<!DOCTYPE HTML>
<html>
	<head>
	{%block tittle%}<title>TAREA: Programa Librería</title>{%endblock%}
		<meta charset="utf-8" />
		{%block css%}<link rel="stylesheet" href="../static/css/clean-blog.css" />{%endblock%}
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="site-heading">
							{%block titulo%}<h1>Biblioteca</h1>
							<hr class="small">
							<h1 class="subheading">Juan Manuel Durán Piñero</h1>{%endblock%}
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Blog posts -->
		{% block content %}{% endblock %}

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

						<p class="copyright text-muted">Copyright &copy; Juan Manuel Durán Piñero 2022 </p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>